html {
  --primary-100: #7c4dff;
  --primary-100-dark: #5e35b1;
  --primary-100-50: #7c4dff25;
  --primary-200: #9575cd;
  --primary-200-50: #9575cd70;
  --primary-300: #e1bee7;

  --accent-100: #26a69a;
  --accent-200: #00897b;
  --accent-300: #00695c;

  --text-100: #2c2c2dd5;
  --text-200: #3d3d3d;
  --text-300: #3d3d3dc5;
  --text-400: #4d4d4dc5;

  --bg-100: #ffffff;
  --bg-200: #f5f5f5;
  --bg-200-dark: #e4e3e3;
  --bg-250: #f3f3f3;
  --bg-200-light: #e4e4e4;
  --bg-300: #cccccc;
  --bg-400: #b4b4b4;
}

html.dark {
  --primary-100: #9575cd;
  --primary-100-dark: #7e57c2;
  --primary-100-50: #9575cd20;
  --primary-200: #b39ddb;
  --primary-200-50: #b39ddb70;
  --primary-300: #d1c4e9;

  --accent-100: #4db6ac;
  --accent-200: #26a69a;
  --accent-300: #00796b;

  --text-100: #eeeeeecc;
  --text-200: #d0d0d0;
  --text-300: #bbbbbbcc;
  --text-400: #999999aa;

  --bg-100: #181818;
  --bg-200: #1f1f1f;
  --bg-200-dark: #121212;
  --bg-200-light: #2b2b2b75;
  --bg-250: #272727;
  --bg-300: #2e2e2e;
  --bg-400: #444444;
}
